*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f8ff; /* Color de fondo sutil para sitios de concesionarias */

}

img{
    border-radius: 10px;
    
}