:root{
    --color-primary: #e30c05;
    --color-primary-dark: #a0361ea9;

    --color-secondary: #64e9EE;
    --color-secondary-dark:#3AAFB9;

    --COLOR-GRAY-LIGHT: #F1F1F1;
    --COLOR-gray: #ccc;
    --color-gray-dark: #333;

}